{% extends 'base.html' %}

{% block title %}
  Записи сообщества: {{ group }}
{% endblock %}

{% block content %}
  <h1>{{ group }}</h1>
    <p>{{ group.description }}</p>
  {% for post in page_obj %}
    <ul>
      <li>
        Автор: {{ post.author.get_full_name }}
      </li>
      <li>
        Дата публикации: {{ post.pub_date|date:"d E Y" }}
      </li>
    </ul>
    <p>
      {{ post.text }}
      {% if request.user == post.author %}
        <a href="{% url 'posts:post_edit' post.pk %}">edit</a>
      {% endif %}
    </p>
    <hr>
  {% endfor %}

  {% include 'posts/includes/paginator.html' %}
{% endblock %}
